#crypto-bar:has(#commissions-crypto-checkbox:checked) + #commissions-panel-crypto {
    max-height: 160px; /*h-40 */
    padding: 12px;
}

#crypto-table-container > table:first-child {
    display: table;
}

#crypto-table-container:has(table) + #crypto-info-msg {
    display: none;
}

#crypto-table-container:not(:has(table)) + #crypto-info-msg {
    display: block;
}

@media screen and (min-width: 640px) {
    td[data-best-crypto-price] {
        box-shadow: 0 0 0 2px #0ea5e9;
        box-shadow: inset 0 0 0 2px #0ea5e9;
    }

    #crypto-table-container:has(table:nth-of-type(2)) ~ label {
        display: unset;
    }

    #crypto-container:has(#expand-table-crypto-checkbox:checked) #crypto-table-container > table {
        display: table;
    }
}
