@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.bg-dolar {
    background-color: #506436;
}

.bg-ccl {
    background-color: #548217;
}

.hover-bg-ccl:hover {
    background-color: #548217;
}
