html,
body {
    height: 100%;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.bg-dolar {
    background-color: #506436;
}

.bg-ccl {
    background-color: #548217;
}

.bg-wu {
    background-color: #FAE000;
}
