@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.bg-dolar {
    background-color: #506436;
}

.bg-ccl {
    background-color: #548217;
}

.bg-wu {
    background-color: #FAE000;
}

#tabla-titulos:has(tbody:empty) > caption {
    display: table-caption;
}

#tabla-titulos:has(not:(tbody:empty)) > caption {
    display: none;
}

#tabla-titulos > thead {
    display: none;
}

@media (min-width: 640px) {
    #tabla-titulos:has(not:(tbody:empty)) > thead {
        display: table-header-group;
    }
}
