#tabla-titulos:has(tbody:empty) > caption {
    display: table-caption;
}

#tabla-titulos:has(not:(tbody:empty)) > caption {
    display: none;
}

#tabla-titulos > thead {
    display: none;
}

@media screen (min-width: 640px) {
    #tabla-titulos:has(not:(tbody:empty)) > thead {
        display: table-header-group;
    }
}
