#titulos-publicos-bar:has(#commissions-bond-checkbox:checked) + #commissions-panel-bond {
    max-height: 288px; /*h-72 */
    padding: 12px;
}

#bonds-table:has(tbody:empty) > caption {
    display: table-caption;
}

#bonds-table:not(:has(tbody:empty)) > caption {
    display: none;
}

#bonds-table > thead {
    display: none;
}

@media screen and (min-width: 640px) {
    #bonds-table:not(:has(tbody:empty)) > thead {
        display: table-header-group;
    }
}
