#titulos-publicos-bar:has(#commissions-checkbox:checked) + #commissions-panel {
    max-height: 176px; /* h-44 */
    padding: 12px;
}

#tabla-titulos:has(tbody:empty) > caption {
    display: table-caption;
}

#tabla-titulos:not(:has(tbody:empty)) > caption {
    display: none;
}

#tabla-titulos > thead {
    display: none;
}

@media screen and (min-width: 640px) {
    #tabla-titulos:not(:has(tbody:empty)) > thead {
        display: table-header-group;
    }
}
